
{
	}

	/*pengaturan Margin 6/15/2012 7:29:57 PM */
	#sideBar{
		position: absolute;
		width: auto;
		height: auto;
		top: 20px;
		right:1px;
		background-image:url(../assets/menu.gif);
		background-position:top left;
		background-repeat:repeat-y;
	}


	#sideBarContents{
		float:left;
		overflow:hidden !important;
		width:auto;
		height:auto;
}

	/*pengaturan gambar 6/15/2012 7:30:01 PM */
	#sideBarTab{
		float:left;
		height:137px;
		width:35px;
	}
